language: python
python:
  - "2.7"
before_install:
    - "export DISPLAY=:99.0"
    - "sh -e /etc/init.d/xvfb start"
env:
    - TOX_ENV=py26-nose1.3.X-django1.4.X
    - TOX_ENV=py27-nose1.3.X-django1.4.X
install: 
    - pip install tox
script: tox -e $TOX_ENV
